<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                Clientes
            </div>
            <div class="card-body">
                <span *ngIf="(users$ | async)?.length === 0">No hay datos para mostrar</span>
                <div class="table-responsive">
                    <table class="table" *ngIf="(users$ | async)?.length !== 0">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of (users$ | async);">
                            <td>{{ user.data.documento }}</td>
                            <td>{{ user.data.apellido }}</td>
                            <td>{{ user.data.nombre }}</td>
                            <td>{{ user.data.direccion }}</td>
                            <td>{{ user.data.telefono }}</td>
                            <td>{{ user.data.estado }}</td>
                            <td>
                                <i class="fa fa-pencil-square-o iconLink"  (click)="editar(user.key, user.data.documento, user.data.apellido, user.data.nombre, user.data.direccion, user.data.telefono,  user.data.estado);" aria-hidden="true"></i>
                                <i class="fa fa-trash-o iconLink" (click)="delete(user.key);"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <app-create [id_editar]="edit_id"></app-create>
    </div>
</div>